@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-light: #4a4a4a;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --background-light: #4a4a4a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.letterCell {
  height: calc(var(--spacing) * 16);
  width: calc(var(--spacing) * 16);
  border-width: 2px;
  border-color: var(--background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--spacing) * 4);
  font-weight: bold;
  color: white;
}
