@import "tailwindcss";

:root {
  --background: #ededed;
  --background-2: #cecece;
  --background-3: #dadada;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --background-2: #252525;
    --background-3: #4a4a4a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.letterCell {
  height: 100%;
  aspect-ratio: 1;
  border-width: 2px;
  border-color: var(--background-3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.keyboard-row {
  display: flex;
  height: 33%;
  width: 100%;
  gap: 1%;
  justify-content: center;
  align-items: center;
}

.keyboard-button {
  height: 100%;
  width: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--spacing) * 4);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
